

body {
    background-color: hsl(260, 20%, 17%);
    font-family: monospace;
}


.the-whole-thing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    padding-left: 30px;
    padding-right: 30px;
}

.head-message {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: hsl(260, 20%, 60%);
    padding: 50px;
    border: solid hsl(260, 20%, 68%);
    border-radius: 50px;
    background-color: hsl(260, 20%, 85%);
}


.the-whole-thing p {
    margin:10px;
    color: hsla(260, 20%, 68%, 0.6);
    font-weight: bold;
}



.list-part {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color: hsl(260, 20%, 60%);
}
.list-heading {
    margin-bottom:10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.input-bar {
    font-weight: bold;
    background-color: hsl(260, 20%, 85%);
    border: solid 3px hsla(260, 20%, 68%, 0.6);
    border-radius: 10px;
    color:hsl(260, 20%, 50%);
    
}
.actual-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(260, 20%, 85%);
    border: solid 3px hsla(260, 20%, 68%, 0.6);
    border-radius: 10px;
    margin-top: 20px;
    padding-right: 25px;
    width: fit-content;
    height: min-content;
    overflow-wrap: break-word;
}


